.rosa { width:200px; height:200px; background-color: #EE3E64;}
.vi {position:relative;}
.azul {width: 200px; height: 200px; background-color: #69EBD0;}
.di {position:relative; left: 800px; bottom: 200px;}
.verde {width: 200px; height: 200px; background-color:#B7D84B;}
.si {position: relative;}
.coral {width: 200px;height: 200px;background-color:#FF8552;}
.li {position: relative; left: 800px;bottom:200px;}